In [1]:
#that is the keyword which is persent in the python
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
keyword.iskeyword('try')

True

In [3]:
keyword.iskeyword('rajesh')

False

In [4]:
#identifer is nothing which is userdefine module or name
name = 'Rajesh'
my_identifer = name

In [5]:
#comment means describing the name which is not executed this is judt for understanding.

In [6]:
#variable is nothing which is reserve space in the memory (equal sign which is used to assign the variable)

s=10  #here it is assigning the variebale 10 to the s
print(s)

10

In [22]:
#Global Variable = it is used to assces or modified the variable  outside the function. 
a=10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10
20

In [9]:
#data Types
#List -- it store multiple varieable in single column.it is created by []
#they will always order changable and alow duplicate value.
# its always start with index zero
#our list can have have multiple data types
my_list = ["CSK","RCB","MI",'CSK', 'RCB', 'MI']
print(my_list)

['CSK', 'RCB', 'MI', 'CSK', 'RCB', 'MI']

In [10]:
len(my_list)

6

In [11]:
print(len(my_list))

6

In [12]:
list1 = ["IND","AUS","ENG"]
list2 = [1,2,3,4,5]
list3 = [True,False]
print (list1,list2,list3)

['IND', 'AUS', 'ENG'] [1, 2, 3, 4, 5] [True, False]

In [13]:
list1 = ["IND","AUS","ENG",1,2,3,4,5,"Male","Female"]
print(list1)

['IND', 'AUS', 'ENG', 1, 2, 3, 4, 5, 'Male', 'Female']

In [15]:
#Tuple 
#Ordere is unchangable and allow duplicate value.
#use ()

tuple1=("IND","AUS","ENG")
print(tuple1)

('IND', 'AUS', 'ENG')

In [16]:
my_tuple = ("CSK","RCB","MI",'CSK', 'RCB', 'MI')
print(my_tuple)

('CSK', 'RCB', 'MI', 'CSK', 'RCB', 'MI')

In [17]:
print(len(my_tuple))

6

In [19]:
#sets
#sets is nothing which store multiple item in a single variable
#sets is used {}
#we will not getting the duplicates value.
#it will also contain different data types.

set1 = {"IND","AUS","Eng","Eng"}
print(set1)

{'AUS', 'IND', 'Eng'}

In [20]:
my_set1 = {"IND","AUS","Eng","Eng",1,2,3,4,5,"Male","Female"}
print(my_set1)

{1, 2, 'IND', 'Eng', 3, 4, 5, 'Female', 'Male', 'AUS'}

In [23]:
#dictionary
#data will be stored in the form of keys and values

In [27]:
#class 2
#string
string1 = "{1} {0} {2}".format('welcome','to','ust')
print("npositional order")
print(string1)

npositional order
to welcome ust

In [28]:
A=10
B = float(A)
print(B)

10.0

In [29]:
A=10
B = int(A)
print(B)

10

In [30]:
a = [1,2,3,4,11,5]
a.remove(11)
print(a)

[1, 2, 3, 4, 5]

In [33]:
list1 = ['a','b','c','b','c','a','c','a']
b=list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [34]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
print(mylist[2:])

['CSK', 'SRH', 'RR', 'KKR']

In [35]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
print(mylist[-4:-1])

['CSK', 'SRH', 'RR']

In [37]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
if "CSK" in mylist:
    print("CSK is in mylist")

CSK is in mylist

In [38]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
if "IND" in mylist:
    print("IND is in mylist")

In [39]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist[2] = "IND"
print(mylist)

['RCB', 'MI', 'IND', 'SRH', 'RR', 'KKR']

In [41]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist[1:2] = ["IND","ENG"]
print(mylist)

['RCB', 'IND', 'ENG', 'CSK', 'SRH', 'RR', 'KKR']

In [42]:
#Insert - it insert the element at specfic index point
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.insert(2,'IND')
print(mylist)

['RCB', 'MI', 'IND', 'CSK', 'SRH', 'RR', 'KKR']

In [43]:
#Append - it is used to add the itenm in list at the end.
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.append('IND')
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR', 'KKR', 'IND']

In [44]:
#extend - it use to make one list
mylist1 = ['Python','Java','PHP']
mylist2 = ['C','C++','Dotnet']
mylist1.extend(mylist2)
print(mylist1)

['Python', 'Java', 'PHP', 'C', 'C++', 'Dotnet']

In [45]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.remove('SRH')
print(mylist)

['RCB', 'MI', 'CSK', 'RR', 'KKR']

In [47]:
#pop - it will remove the specfic index if i not provide the index it will remove the last index
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.pop(1)
print(mylist)

['RCB', 'CSK', 'SRH', 'RR', 'KKR']

In [49]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [50]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
print(mylist)

['RCB', 'MI', 'CSK', 'SRH', 'RR', 'KKR']

In [51]:
#clear it will delete all the values inside the list
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.clear()
print(mylist)

[]

In [52]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
for x in mylist:
    print(x)

RCB
MI
CSK
SRH
RR
KKR

In [57]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
for x in range(len(mylist)):
    print(mylist[x])

RCB
MI
CSK
SRH
RR
KKR

In [59]:
#while loop -  while is execute the statement as long as the statement condation is correct.
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
i = 0
while i < len(mylist):
    print(mylist[i])
    i=i+1

RCB
MI
CSK
SRH
RR
KKR

In [60]:
#sort - sort function is used to sort the list in alphabatical manner
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.sort()
print(mylist)

['CSK', 'KKR', 'MI', 'RCB', 'RR', 'SRH']

In [61]:
numlist = [100,55,65,76,82,21]
numlist.sort()
print(numlist)

[21, 55, 65, 76, 82, 100]

In [62]:
mylist = ["RCB",'MI','CSK','SRH','RR','KKR']
mylist.sort(reverse = True)
print(mylist)

['SRH', 'RR', 'RCB', 'MI', 'KKR', 'CSK']

In [63]:
numlist = [100,55,65,76,82,21]
numlist.sort(reverse = True)
print(numlist)

[100, 82, 76, 65, 55, 21]

In [66]:
#sort function is a case sensitive result first capital letter then move to small
alist= ['chennai','banaglore','Hyderabad','Trivandrum','Delhi']
alist.sort()
print(alist)

['Delhi', 'Hyderabad', 'Trivandrum', 'banaglore', 'chennai']

In [67]:
alist= ['chennai','banaglore','Hyderabad','Trivandrum','Delhi']
alist.sort(key=str.lower)
print(alist)

['banaglore', 'chennai', 'Delhi', 'Hyderabad', 'Trivandrum']

In [68]:
alist= ['chennai','banaglore','Hyderabad','Trivandrum','Delhi']
alist.reverse()
print(alist)

['Delhi', 'Trivandrum', 'Hyderabad', 'banaglore', 'chennai']

In [69]:
alist= ['chennai','banaglore','Hyderabad','Trivandrum','Delhi']
blist = list(alist)
print(blist)

#these all above are the some built in method for list.

['chennai', 'banaglore', 'Hyderabad', 'Trivandrum', 'Delhi']

In [70]:
mytuple = ("sanddep","umrah","jeffry",'anil','ghousiya')
print(mytuple)

('sanddep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [71]:
mytuple = ("sanddep","umrah","jeffry",'anil','ghousiya')
print(len(mytuple))

5

In [72]:
x = ("sanddep","umrah","jeffry",'anil','ghousiya')
y= list(x)
print(y)

['sanddep', 'umrah', 'jeffry', 'anil', 'ghousiya']

In [75]:
x=tuple(y)
print(x)

('sanddep', 'umrah', 'jeffry', 'anil', 'ghousiya')

In [76]:
myset = {"sanddep","umrah","jeffry",'anil','ghousiya'}
print(myset)

{'sanddep', 'anil', 'ghousiya', 'jeffry', 'umrah'}

In [77]:
#Dict
#it order is changable and aslo it doesnot allow duplicate
#having key and value
mydict = {
    "brand": "Maruti",
    "model": "Swift",
    "year":1983
}
print(mydict)

{'brand': 'Maruti', 'model': 'Swift', 'year': 1983}

In [78]:
print(mydict['brand'])

Maruti

In [79]:
mydict = {
    "brand": "Maruti",
    "model": "Swift",
    "year":1983,
    "year":1965
}
print(mydict)

{'brand': 'Maruti', 'model': 'Swift', 'year': 1965}

In [80]:
print(mydict.keys())

dict_keys(['brand', 'model', 'year'])

In [81]:
print(mydict.values())

dict_values(['Maruti', 'Swift', 1965])

In [82]:
mydict = {
    "brand": "Maruti",
    "model": "Swift",
    "year":1983,
    "year":1965
}
mydict['model'] = 'celerio'
print(mydict)

{'brand': 'Maruti', 'model': 'celerio', 'year': 1965}

In [83]:
a = """jnsdfehjshhfjjhiihjkxjk
sifdjijkdfjifkjvhf
djsjfksjdfjhsfjkhejhuhsriejijr"""
print(a)

jnsdfehjshhfjjhiihjkxjk
sifdjijkdfjifkjvhf
djsjfksjdfjhsfjkhejhuhsriejijr

In [85]:
#
a='Hello, World'
#print(a[2:5])
print(a[5:])

, World

In [86]:
a='Hello, World'
print(a.upper())

HELLO, WORLD

In [87]:
a='Hello, World'
print(a.lower())

hello, world

In [88]:
a='Hello, World'
print(a.replace("H", "J"))

Jello, World

In [89]:
a='Hello, World'
print(a.replace("o", "q"))

Hellq, Wqrld

In [91]:
#concatination - join two string with + operator
a = "hello"
b = " world"
c = a + b
print(c)

hello world

#  Day 3

In [94]:
a=33
b=35
if b>a:
    print("b is greater than a")

b is greater than a

In [96]:
a=33
b=33
if b>a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [98]:
a=200
b=33
if b>a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [102]:
#Nasted - the satement within the if condation
x = 41
if x>10:
    print("Above ten")
    if x>20:
        print("also above 20")
    else:
        print("but not above 20")

Above ten
also above 20

In [103]:
#nasted loop = loop inside loop
colour = ["red","yellow","green"]
fruits = ["apple","banana","grapes"]
for x in colour:
    for y in fruits:
        print(x,y)

red apple
red banana
red grapes
yellow apple
yellow banana
yellow grapes
green apple
green banana
green grapes

In [105]:
#Function -  it is block of code only execute when we call it
def myfunct():
    print("Hello World")
myfunct()

Hello World